@import url('reset.css');

body {
    padding: 100px;
}

table {
    width: 100%;
    max-width: 800px;
    border-collapse: separate; 
    border-spacing: 2px; 
    border: 10px solid #fc1f0c;
}

th, td {
    padding: 5px;
    border: 4px solid #1824ec; 
    text-align: center;
}

thead th {
    background-color: #fee4c4;
    font-weight: bold;
}

tbody tr:nth-child(odd) td {
    background-color: #bdb76e;
}

tbody tr:nth-child(even) td {
    background-color: #d3d3d3;
}

tbody tr td:first-child {
    background-color: #16fdff;
}

tfoot td {
    background-color: #ea977b;
}

caption {
    font-size: 30px;
    padding: 10px;
    color: #fc1f0c; 
}

caption::after {
    content: "#05";
    color: purple;
}